* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --first-color: #F9F9F9;
    --second-color: #292929;
}

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--second-color);
}

h1 {
    display: flex;
    align-items: center;
    width: auto;
    font-size: 24px;
    color: var(--first-color);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    height: 220px;
}

header p {
    color: var(--first-color);
    font-size: 24px;
}

img {
    width: 160px;
}