* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --first-color: #F9F9F9;
    --second-color: #292929;
}

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--second-color);
}

.start-training h2 {
    font-size: 22px;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

header h1 {
    align-items: center;
    font-size: 34px;
    color: var(--first-color);
    margin-top: 5px;
}


header p {
    color: var(--first-color);
    font-size: 24px;
    margin: 10px;
}

.main-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 20px;
}


.main-options button {
    margin: 10px;
    width: auto;
    border: none;
    cursor: pointer;
    background-color: var(--second-color);
    border-radius: 15px;
    color: var(--first-color);
    padding: 5px;
    font-size: 18px;
}

.main-options button:hover {
    color: var(--second-color);
    background-color: var(--first-color);
}

img {
    width: 160px;
}

.training-plan-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.training-plan-area h3 {
    text-align: center;
    padding: 5px;
}

.training-plan-area ul {
    list-style-type: none;
    margin: 10px;
    color: var(--first-color);
}

.training-plan-area ul li {
    padding: 5px;
    min-width: 366px;
}

.training-plan-area-push {
    border: 1px solid var(--first-color);
    border-radius: 15px;
    padding: 3px;
}

.training-plan-area-pull {
    border: 1px solid var(--first-color);
    border-radius: 15px;
    padding: 3px;
}