* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: 'Inter', sans-serif;
    background-color: #293038;
}

.counter-app {
    position: relative;
}

.wrapper {
    width: auto;
    flex-direction: column;
    position: relative;
    padding: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
}


.start-btn {
    display: flex;
    border: 1px solid #BBAF45;
    background: #BBAF45;
    font-size: 20px;
    font-weight: 600;
    margin: auto;
    width: auto;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.accessory {
    background: #6155F2;
    color: white;
    border: 1px solid #6155F2;
    margin: 22px 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    min-width: 80px;
}

.logo {
    margin: 10px 0;
}

.appOptions {
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 519px;
    width: auto;
}

.training-plan {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 422px;
    height: 520px;
    background-color: #292929;
    opacity: 0;
    border-radius: 15px;

}

.fas {
    margin-left: 400px;
    margin-top: 5px;
    color: #6155F2;
}

.active {
    transform: translateX(450px);
    opacity: 1;
}

h3, li {
    font-size: 18px;
    color: #E2E2E6;
    list-style: none;
    margin-left: 15px;
}

h3 {
    margin: 5px;
    padding: 5px;
}

li {
    padding: 3px;
    font-size: 15px;
}

.h2 {
    color: #E2E2E6;
    font-size: 20px;
    text-align: center;
}

.closePlan {
    margin: 20px;
    background-color: #6155F2;
    border: none;
}

.choose-training {
    background-color: #292929;
    height: auto;
    margin-left: 100px;
    opacity: 0;
}